 html {
     height: 100%;
 }
 
 body {
     display: flex;
     min-height: 100vh;
     height: 100%;
     flex-direction: column;
     font-family: "Poiret One", serif;
     background-color: black;
     min-width: fit-content;
 }
 
 main {
     flex: 1 0 auto;
     overflow-x: hidden;
 }
 
 .first-row {
     z-index: 0;
     width: 100%;
     height: 100vh;
     background-color: black;
     background-image: url('../images/galaxyGirlOptimizedWeb.jpg');
     background-position: center;
     background-size: cover;
     background-attachment: fixed;
     background-repeat: no-repeat;
     margin-bottom: 0 !important;
     position: relative;
 }
 
 @media only screen and (max-width: 992px) {
    .first-row,
    .left-resume,
    .journey-section,
    .contact-row,
    .contact-holder {
        background-attachment: scroll;
     }
 }

 
 .stars {
     width: 100%;
     height: 100vh;
     position: fixed;
     z-index: 10;
 }
 
 @media only screen and (max-width: 992px) {
     .stars canvas,
     .stars,
     .background {
         width: 100vw !important;
         height: 100vh !important;
         overflow: hidden;
     }
 }
 
 .navbar-fixed {
     position: absolute !important;
 }
 
 .nav-bar {
     position: fixed;
     right: 30px;
     top: 0;
     z-index: 20;
     width: 150px;
     min-width: 50px;
     height: 100vh;
     margin-bottom: 0;
     padding: 0 5px;
     background-color: rgba(0, 0, 0, 0.7);
     padding-bottom: 20px;
 }
 
 .list-holder-left {
     font-size: 20px;
     margin-bottom: 0;
     margin-top: 30vh;
     position: fixed;
 }
 
 .list-holder-left li a {
     color: white;
     font-weight: 600;
     margin-left: 5px;
 }
 
 .list-holder-left li a i {
     font-weight: normal;
     font-size: 15px;
 }
 
 .list-item-left {
     margin-top: 20px;
 }
 
 .left-top {
     position: relative;
     /*z-index: 5;*/
     height: 100vh;
     width: 100%;
     margin-left: 0 !important;
     margin-right: 0 !important;
 }
 
 .left-side-top {
     margin-bottom: 0;
     height: 100vh;
     position: relative;
 }
 
 .quote {
     font-family: "Allura", serif;
     position: relative;
     z-index: 11;
     margin-left: 2%;
 }
 
 .quote-arrow-holder {
     position: absolute;
     bottom: 0;
 }
 
 @media only screen and (max-width: 992px) {
     .quote {
         font-size: 1.5em;
     }
 }
 
 .top-text-holder-left {
     padding-top: 5%;
     min-height: 80%;
     position: relative;
 }
 
 @media only screen and (max-width: 992px) {
     .top-text-holder-left {
         padding-top: 5%;
         min-height: 70%;
         position: relative;
     }
 }
 
 .second-row {
     padding: 0 !important;
     position: relative;
     margin-bottom: 0;
 }
 
 .left-resume {
     position: relative;
     background-color: #1C1C1C;
     background: url('../images/blueocean.jpg') no-repeat center center;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     background-attachment: fixed;
     margin: 0;
 }
 
 @media only screen and (max-width: 992px) {
     .left-resume {
         background-image: url('../images/blueocean.jpg');
     }
 }
 
 .parts-resume-left {
     font-family: 'Poiret One';
     font-size: 18px;
     position: relative;
     margin-bottom: 0;
     height: auto;
     min-height: 100vh;
 }
 
 .journey-section {
     background-color: black;
     background-image: url('../images/journeyOptimizedWeb.jpg');
     background-position: bottom;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     height: 40vh;
     padding-top: 10vh !important;
 }
 
 @media only screen and (max-width: 992px) {
     .journey-section {
         background-image: url('../images/journeyOptimizedWeb.jpg');
         background-position: contain;
         background-attachment: scroll;
     }
 }
 
 .ironhack-resume-left {
     background-color: rgba(0, 0, 0, 0.7);
     position: relative;
     z-index: 11;
     padding-top: 50px;
 }
 
 @media only screen and (max-width: 992px) {
     .ironhack-resume-left {
         height: auto;
     }
 }
 
 .strayer-text,
 .ironhack-text,
 .broward-text {
     position: relative;
     text-align: center;
 }
 
 .strayer-info,
 .ironhack-info,
 .broward-info {
     position: relative;
 }
 
 .strayer-holder,
 .ironhack-holder,
 .broward-holder {
     min-height: 100%;
 }
 
 @media only screen and (max-width: 600px) {
     .strayer-text,
     .ironhack-text,
     .broward-text {
         text-align: left;
     }
     .ironhack-holder,
     .broward-holder {
         margin-top: 10%;
     }
 }
 
 @media only screen and (max-width: 992px) and (min-width: 600px) {
     .ironhack-holder,
     .broward-holder {
         margin-top: 0;
     }
 }
 
 .learning-top {
     margin-top: 50px;
     margin-bottom: 50px;
 }
 
 .work-resume-left {
     background-color: rgba(30, 0, 30, 0.7);
     position: relative;
     z-index: 11;
     padding-top: 50px;
 }
 
 .down-arrow-holder {
     position: relative;
     z-index: 11;
     padding-top: 20px;
     width: 100%;
 }
 
 .down-arrow {
     z-index: 11;
     position: relative;
     width: 60px;
 }
 
 @media only screen and (max-width: 992px) {
     .down-arrow {
         width: 30%;
     }
     .down-arrow-holder {
         padding-top: 5%;
     }
 }
 
 .icons-left i {
     margin-left: 20px;
     z-index: 20;
     position: relative;
 }
 
 .icons-left {
     z-index: 20;
     position: relative;
 }
 
 .icons-left a {
     z-index: 20;
     position: relative;
     color: white !important;
     font-weight: 600;
 }
 
 .brain {
     margin: 10% 0;
 }
 
 .summary-small-left {
     font-size: 40px;
     margin-left: 10%;
     margin-top: 10vh;
 }
 
 @media only screen and (max-width: 992px) {
     .summary-small-left {
         font-size: 2em;
         margin-top: 10vh;
     }
 }
 
 .skills-first-row {
     margin-bottom: 0;
     margin-top: 0;
     position: relative;
 }
 
 .row .left-skills {
     position: relative;
     min-height: 600px;
     height: 50vh;
 }
 
 @media only screen and (max-width: 992px) {
     .row .left-skills {
         height: auto;
     }
 }
 
 .skills-row {
     position: relative;
     margin-bottom: 0;
     margin-top: 0;
     padding-top: 10%;
 }
 
 .skills-row-images {
     position: relative;
     padding-top: 4em;
     min-height: 600px;
     height: auto;
 }
 
 @media only screen and (max-width: 992px) {
     .skills-row-images {
         padding-top: 50%;
         height: auto;
     }
 }
 
 .bottom-image {
     background-color: rgba(63, 80, 165, 0.5);
     background-image: url('../images/galaxyOptimizedWeb.jpg');
     background-position: center;
     background-repeat: no-repeat;
     background-attachment: fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
 }
 
 .skills-row-holder {
     position: relative;
 }
 
 @media only screen and (max-width: 992px) {
     .skills-row-holder {
         height: auto;
         width: auto;
         padding-left: 10% !important;
     }
 }
 
 .skills-image {
     height: 70px;
     z-index: 11;
     position: relative;
 }
 
 @media only screen and (max-width: 992px) {
     .skills-image {
         height: 15vh;
     }
 }
 
 .javascript {
     color: white;
 }
 
 .images {
     width: 125px;
 }
 
 @media only screen and (max-width: 992px) {
     .images {
         margin-top: 5vh;
         min-width: 25vw;
         width: auto;
         height: auto;
     }
     .holder {
         display: inline;
     }
 }
 
 .skills-text-mobile {
     display: none;
 }
 
 .skills-text {
     font-weight: 100;
     font-size: 24px;
     font-family: "Poiret One", Roboto;
     padding-left: 100px;
     margin-top: 25px;
 }
 
 @media only screen and (max-width: 992px) {
     .skills-text {
         display: none;
     }
     .skills-text-mobile {
         padding-left: 0;
         text-align: center;
         display: block;
     }
     .skills-text-mobile h3 {
         font-size: 2em !important;
         margin-top: auto;
     }
 }
 
 .inline {
     display: inline-block;
 }
 
 .projects-holder {
     position: relative;
     margin-top: 10%;
 }
 
 @media only screen and (max-width: 992px) {
     .portfolio-text {
         font-size: 4em;
         margin-left: auto;
         margin-right: auto;
         width: 50%;
     }
 }
 
 .project-left-details {
     position: relative;
     z-index: 11;
     font-size: 20px !important;
     background-color: rgba(120, 34, 79, 1);
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     background-attachment: scroll;
    background-image: linear-gradient(rgba(120, 34, 79, 1), rgba(120, 34, 79, 0.5)), url('../images/galaxyOptimizedWeb.jpg');
 }
 
 @media only screen and (max-width: 992px) {
     .project-left-details {
         font-size: 1em !important;
         margin-top: 10%;
     }
 }
 
 .card-action {
     padding: 5px !important;
 }
 
 .ironhack-details {
     font-size: 35px !important;
 }
 
 @media only screen and (max-width: 992px) {
     .ironhack-details {
         font-size: 1.4em !important;
     }
 }
 
 a.final-project-link {
     color: deepskyblue !important;
 }
 
 a.final-project-link:hover {
     color: white !important;
 }
 
 a.final-project-link:visited,
 a.final-project-link:active {
     color: chartreuse !important;
 }
 
 .macbook {
     margin-top: 10%;
     position: relative;
     top: 50%;
     left: 10%;
     width: 400px;
     height: 200px;
 }
 
 @media only screen and (max-width: 992px) {
     .macbook {
         top: auto;
         left: auto;
         width: 100%;
         height: auto;
         margin: auto;
     }
 }
 
 .enter-row {
     margin-top: 20%;
 }
 
 .text-border {
     border-bottom: 2px solid grey;
     border-right: 2px solid grey;
     padding: 5px;
 }
 
 .contact-row,
 .contact-holder {
     position: relative;
     z-index: 11;
     margin-bottom: 0;
     background-color: black;
    background-image: url('../images/nebula.jpg');
     background-position: bottom;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
 }
 
 .contact-text {
     font-size: 20px;
     margin-left: 20px;
 }
 
 .me-row {
     background-color: rgba(56, 56, 137, 0.5);
     position: relative;
     margin: 0;
 }

 #media {
     background-image: linear-gradient(rgba(56, 56, 137, 0.35), rgba(56, 56, 137, 0.35)), url('../images/galaxyGirlOptimizedWeb.jpg');
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     background-attachment: scroll;
 }
 
 .aboutMe {
     font-size: 20px;
     margin-top: 40px;
     margin-bottom: 40px;
 }
 
 .alil {
     margin-top: 50px;
 }
 
 .right-contact {
     margin-top: 30px;
 }
 
 .submit-button {
     background-color: rgba(127, 63, 191, 0.53) !important;
 }
 
 .bottom-icons i {
     margin-left: 20px;
     z-index: 20;
     position: relative;
 }
 
 .bottom-icons {
     z-index: 20;
     position: relative;
 }
 
 .bottom-icons a {
     color: white !important;
 }

 .card-footer > img {
    width: 300px;
    height: 300px;
 }